doctype html
html
  head
    title STAR BODY GARAGE 
    block scripts
    block style 
  body
    nav#nav 
        ul 
            div#logo
                img(src="/static/logo.jpg")
            li #[a(href="/") Home] 
            li #[a(href="/") About Us] 
            li #[a(href="/") Services] 
            li #[a(href="/join") Join Us] 
            li #[a(href="/") Contact Us]
    block content
    block foot
      #footer
        | copyright © 2021 starbodygarage.com | All reserved  
      